.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    padding: 20px 0px 0px;
    margin: auto;
    
}
@media screen and (max-width: 936px){
    .nav {
        flex-wrap: wrap;
        
    }
    }

.nav>img {
    height: 60px;
    position: relative;
    z-index: 5;
}
 li {
    float: left;
    list-style: none;
    padding: 15px 20px;

}

 ul {
    overflow: auto;
}

 li a {
    text-decoration: none;
    font-size: 30px;

    /* padding: 3px 3px; */
}
ul>li :hover {
    color: orange;
}
select {
    border: none;
    color: #64149e;
    font-size: 28px ;
    background: none;
    margin-top: 6px;
}
select> option{
    border: none;

}

.btn1 {
    position: relative;
    height: 30px;
    width: 70px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(218, 2, 2);
    color: white;
    border: none;
    
    
}
/* .btn> select {
    position: relative;
    height: 32px;
    width: 120px;
    font-size: 17px;
    border-radius: 5px;
    background: linear-gradient(to top,rgb(0, 0, 0,0.6),rgb(0, 0, 0,0.2),rgb(0, 0, 0,0.2));
    color: white;
    margin-right: 10px;
    border: 1px solid rgb(66, 65, 65);
}
.btn>option{
    
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(14, 13, 13);
    color: white;

} */